* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e6e6e6;
}
:root {
  --color-primary-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));

  --border-radius: 2rem;
  --search-padding: 0.6rem 1rem;
}
img {
  width: 100%;
}

#btn__override {
  background-color: #008080;
  color: whitesmoke;
}

#nav__bg-color {
  background-color: #325454;
}

nav .search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}
input[type="search"] {
  background: transparent;
  width: 30vw;
  color: var(--color-dark);
  margin-left: 1rem;
  font-size: 0.9rem;
  outline: 0;
  border: none;
}
.search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}
.d-flex {
  gap: 1rem;
}
.Form-content {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}
a {
  text-decoration: none;
}

/* -----------------FOOTER DSIGN--------------- */
.main-footer {
  display: flex;
}
.second-footer {
  margin: auto 0;
  width: 30%;
}
.anker {
  font-weight: lighter;
  font-size: small;
}
.base-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 30px;
  gap: 3rem;
}

.base-footer,
.main-footer {
  background-color: #3d008d;
  color: white;
}

.second-footer a,
.base-footer a {
  text-decoration: none;
  color: white;
  display: block;
}

.care-last {
  margin-right: 12rem;
}
.bar-code {
  width: 6.25rem;
}

.cat-Title h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.cat-Title h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.cat-Title h1 span:after,
.cat-Title h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 650px) {
  #form-Disp {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  #form-Disp {
    display: none;
  }
  .care-last {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  #nav-fa03img-tab {
    display: none;
  }
}
@media only screen and (max-width: 1220px) {
  #nav-fa03img-tab {
    display: none;
  }
}
/* ------------------------------Product Page-------------------------- */
figure.figure-zoom {
  background-position: 50% 50%;
  position: relative;
  border: 5px solid white;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  cursor: zoom-in;
}
#Product-image-show {
  width: 100%;
  height: 100%;
}
figure.figure-zoom img:hover {
  opacity: 0;
}
figure.figure-zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
